@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply text-gray-700 hover:text-blue-600 transition;
}

.card {
  @apply bg-white shadow-md rounded p-4 hover:shadow-lg transition flex flex-col items-center text-center;
}
.card img {
  @apply w-36 h-36 object-contain mb-4;
}

:root {
  --primary-color: rgb(3, 105, 161);
  --swiper-navigation-color: var(--primary-color);
  --swiper-pagination-color: var(--primary-color);
}
